<div class="searchpage">


<img class="logo" src="/img/google.png" alt="" />
    <form>
      <input class="search" type="search" />
      <input
        class="but"
        type="button"
        onclick="location.href='./results.html';"
        value="Search"
      />
    </form>
</div>
