<div class="searchpage">


<img class="logo" src="/img/google.png" alt="" />
    <form action="/results" method="POST">
      <input class="search" type="search" name="searchTerms" />

			<button class="but">Search</button>

    </form>
</div>
